.icons-wrapper {
  display: inline-flex;
  flex-direction: column;
  padding-left: 4px;
  vertical-align: middle;
}

.icon {
  opacity: 0.5;
}

.icon .active {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}
