@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
body {
  background: #15245c;
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 1.5em;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-left: 1rem;
}

/* Bootstrap Fixes */
.container-fluid {
  padding: 0;
}

.modal.show {
  padding-left: 0 !important;
}

.row {
  margin: 0;
}

.is-valid,
.is-invalid {
  background-image: none !important;
}
