@import url('https://fonts.googleapis.com/css2?family=Federo&family=Orbitron&display=swap');
/* font-family: 'Federo', sans-serif;
font-family: 'Orbitron', sans-serif; */
body {
  background: #15245c;
  color: white;
  font-family: 'Federo', sans-serif;
  font-size: 1.5em;
  box-sizing: border-box;
  margin: 0;
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2em;

}

/* Bootstrap Fixes */
.container-fluid {
  padding: 0;
}

.modal.show {
  padding-left: 0 !important;
}

.row {
  margin: 0;
}

.is-valid,
.is-invalid {
  background-image: none !important;
}
